.js-plotly-plot
{
    width: 30rem;
    height: 20rem;
    background-color: #323955;
}
.svg-container
{
    width: 20rem;
    height: 20rem;
}
td
{
    border-width: 1px;
    border-color: rgb(100 116 139);
    background-color:#323955;
    color: white;
    text-align: center;
    width: 6rem;
    padding: 0.3rem;
}
option
{
    /* bg-[#323955] border-b-2 px-2 py-1 text-white outline-none rounded-sm */
    background-color: #323955;
    padding: 0.25rem 0.5rem;
    color: rgb(255 255 255);
    outline: none;
    border-radius: 0.125rem;
    border-bottom-width: 2px;
    text-align: center;
}
@media screen and (max-width:768px) 
{
    .js-plotly-plot
    {
        width: 20rem;
        height: 20rem;
    }
    .svg-container
    {
        width: 10rem;
        height: 15rem;
    }
}